name: CI


on:
  push:
    branches: [master, dev]
  

permissions:
  contents: write


jobs:
  windows-build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]
        shared: [[ON, DLL], [OFF, ""]]

    steps:
    - uses: actions/checkout@v4
  
    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0

    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCMAKE_INSTALL_PREFIX=install-dir -DBUILD_SHARED_LIBS=${{ matrix.shared[0] }} -G "Ninja" ..
          cmake --build . -j && cmake --install .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}${{ matrix.shared[1] }}_Windows
        path: build/install-dir/


  linux-build:
    runs-on: ubuntu-latest
    container:
      image: lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]
        shared: [[ON, DLL], [OFF, ""]]

    steps:
    - uses: actions/checkout@v4
  
    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCMAKE_INSTALL_PREFIX=install-dir -DBUILD_SHARED_LIBS=${{ matrix.shared[0] }} -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}${{ matrix.shared[1] }}_Linux
        path: build/install-dir


  linux-aarch64-build:
    runs-on: ubuntu-latest
    container:
      image: lazypanda07/ubuntu_cxx20:aarch64
    strategy:
      matrix:
        configuration: [Debug, Release]
        shared: [[ON, DLL], [OFF, ""]]

    steps:
    - uses: actions/checkout@v4
  
    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCMAKE_INSTALL_PREFIX=install-dir -DBUILD_SHARED_LIBS=${{ matrix.shared[0] }} -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}${{ matrix.shared[1] }}_LinuxARM
        path: build/install-dir


  android-build:
    runs-on: ubuntu-latest
    container:
      image: lazypanda07/ubuntu_cxx20:android
    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
  
    - name: Build
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DCMAKE_INSTALL_PREFIX=install-dir -DBUILD_SHARED_LIBS=ON ${ANDROID_CMAKE_BUILD_ARGUMENTS} -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.configuration }}_Android
        path: build/install-dir


  windows-tests:
    runs-on: windows-latest
    needs: windows-build
    strategy:
      matrix:
        configuration: [Debug, Release]
        shared: [[ON, DLL], [OFF, ""]]

    steps:
    - uses: actions/checkout@v4
  
    - name: Enable NMake
      uses: ilammy/msvc-dev-cmd@v1.13.0

    - name: Download artifacts
      uses: actions/download-artifact@v4
      with: 
        name: ${{ matrix.configuration }}${{ matrix.shared[1] }}_Windows
        path: UtilityLibrary
        
    - name: Build tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          .\Tests.exe --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without ConsoleArgumentParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm build -r -force
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DWITHOUT_CONSOLE_ARGUMENT_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without ConsoleArgumentParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          .\Tests.exe --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without CSVParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm build -r -force
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DWITHOUT_CSV_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without CSVParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          .\Tests.exe --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6
    
    - name: Build tests without Timers
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm build -r -force
          mkdir build
          cd build
          cmake  -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DWITHOUT_TIMERS=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without Timers
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          .\Tests.exe --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without PatternParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm build -r -force
          mkdir build
          cd build
          cmake  -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DWITHOUT_PATTERN_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without PatternParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          .\Tests.exe --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6


  linux-tests:
    runs-on: ubuntu-latest
    needs: linux-build
    container:
      image: lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]
        shared: [[ON, DLL], [OFF, ""]]

    steps:
    - uses: actions/checkout@v4
  
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with: 
        name: ${{ matrix.configuration }}${{ matrix.shared[1] }}_Linux
        path: UtilityLibrary
        
    - name: Build tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          mkdir build
          cd build
          cmake -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without ConsoleArgumentParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_CONSOLE_ARGUMENT_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without ConsoleArgumentParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without CSVParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_CSV_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without CSVParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6
    
    - name: Build tests without Timers
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_TIMERS=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without Timers
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without PatternParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake  -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DWITHOUT_PATTERN_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without PatternParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6


  linux-aarch64-tests:
    runs-on: ubuntu-latest
    needs: linux-aarch64-build
    container:
      image: lazypanda07/ubuntu_cxx20:aarch64
    strategy:
      matrix:
        configuration: [Debug, Release]
        shared: [[ON, DLL], [OFF, ""]]

    steps:
    - uses: actions/checkout@v4
  
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with: 
        name: ${{ matrix.configuration }}${{ matrix.shared[1] }}_LinuxARM
        path: UtilityLibrary
        
    - name: Build tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          mkdir build
          cd build
          cmake ..
          make install -j $(nproc)

    - name: Tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} qemu-aarch64 ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without ConsoleArgumentParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_CONSOLE_ARGUMENT_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without ConsoleArgumentParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} qemu-aarch64 ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without CSVParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_CSV_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without CSVParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} qemu-aarch64 ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6
    
    - name: Build tests without Timers
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_TIMERS=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without Timers
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} qemu-aarch64 ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without PatternParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake  -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DWITHOUT_PATTERN_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without PatternParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          cd build/bin
          LD_LIBRARY_PATH=$(pwd):${LD_LIBRARY_PATH} qemu-aarch64 ./Tests --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6


  memory-leak-tests:
    runs-on: ubuntu-latest
    needs: linux-build
    container:
      image: lazypanda07/ubuntu_cxx20:24.04
    strategy:
      matrix:
        configuration: [Debug, Release]
        shared: [[ON, DLL], [OFF, ""]]

    steps:
    - uses: actions/checkout@v4
  
    - name: Download artifacts
      uses: actions/download-artifact@v4
      with: 
        name: ${{ matrix.configuration }}${{ matrix.shared[1] }}_Linux
        path: UtilityLibrary
        
    - name: Build tests
      working-directory: ${{ github.workspace }}/Tests
      run: |
          mkdir build
          cd build
          cmake -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests
      uses: LazyPanda07/check-memory-leaks@v1
      with:
        path: Tests/build/bin
        name: Tests
        pre-execute: export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$(pwd)
        args: --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6
        
    - name: Build tests without ConsoleArgumentParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_CONSOLE_ARGUMENT_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without ConsoleArgumentParser
      uses: LazyPanda07/check-memory-leaks@v1
      with:
        path: Tests/build/bin
        name: Tests
        pre-execute: export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$(pwd)
        args: --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without CSVParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_CSV_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without CSVParser
      uses: LazyPanda07/check-memory-leaks@v1
      with:
        path: Tests/build/bin
        name: Tests
        pre-execute: export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$(pwd)
        args: --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6
    
    - name: Build tests without Timers
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake -DWITHOUT_TIMERS=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without Timers
      uses: LazyPanda07/check-memory-leaks@v1
      with:
        path: Tests/build/bin
        name: Tests
        pre-execute: export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$(pwd)
        args: --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6

    - name: Build tests without PatternParser
      working-directory: ${{ github.workspace }}/Tests
      run: |
          rm -rf build
          mkdir build
          cd build
          cmake  -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DWITHOUT_PATTERN_PARSER=ON -G "Ninja" ..
          cmake --build . -j
          cmake --install .

    - name: Tests without PatternParser
      uses: LazyPanda07/check-memory-leaks@v1
      with:
        path: Tests/build/bin
        name: Tests
        pre-execute: export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:$(pwd)
        args: --int 1 --string data --bool --float 5.5 --values 1 --values 2 --values 3 --values 4 --values 5 --values 6


  publish:
    runs-on: ubuntu-latest
    needs: [
        windows-tests, 
        linux-tests, 
        linux-aarch64-tests,
        memory-leak-tests, 
        android-build
    ]

    steps:
    - uses: actions/checkout@v4
  
    - uses: LazyPanda07/extract-current-branch@master
    
    - name: Setup release version variable
      shell: pwsh
      run: echo "VERSION=$($($($(Select-String -Path .\include\Defines.h -Pattern utilityLibraryVersion) -split '( = )')[2].TrimEnd(';')).Trim('\"'))" >> $Env:GITHUB_ENV

    - name: Download artifacts
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      uses: actions/download-artifact@v4
      
    - name: Setup Windows build list
      run: echo "WINDOWS_BUILD_LIST="$(ls | grep Windows)"" >> ${GITHUB_ENV}
      
    - name: Create Windows zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r windows.zip ${{ env.WINDOWS_BUILD_LIST }}

    - name: Create Linux zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r linux.zip Release_Linux ReleaseDLL_Linux

    - name: Create Linux ARM zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r linux_aarch64.zip Release_LinuxARM ReleaseDLL_LinuxARM

    - name: Create Android zip
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: zip -r android.zip Release_Android

    - name: Publish
      if: ${{ env.CURRENT_BRANCH == 'master' }}
      run: gh release create v${{ env.VERSION }} *.zip --title v${{ env.VERSION }} --generate-notes
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        